# **PressPlay**

In [40]:
df_courses = pd.DataFrame({'c_id' : [], 'c_name' : [], 'w_id' : [], 'c_description' : [], 'c_price' : [], 'c_total_time' : [], 't_id' : [], 'c_start_time' : [], \
                           'c_buyers' : [], 'cg_id' : [], 'c_url' : [], 'c_image_url' : [], 'status_id' : []})
df_teachers = pd.DataFrame({'t_id' : [], 't_name' : [], 't_introduction' : []})
df_fundings = pd.DataFrame({'f_id' : [], 'f_due_date' : [], 'f_process' : [], 'c_id' : []})

In [ ]:
for i in range(724):
    chrome = webdriver.Chrome('./chromedriver')
    chrome.get("https://www.pressplay.cc/project/" + df_url_reset['c_url'][i] + "/about")
    soup = BeautifulSoup(chrome.page_source, 'html.parser')
    c_id = 'pressplay_' + str(i + 1)
    if not soup.find('h1'):
        df_courses.loc[i] = {'c_id' : c_id, 'c_url' : "https://www.pressplay.cc/project/" + df_url_reset['c_url'][i] + "/about"}
        print(str(i) + ' is a restricted course')
    else:
        c_name = soup.find('h1').string
        if not soup.find(attrs={'name':'description'}):
            c_description = ''
        else:
            c_description = soup.find(attrs={'name':'description'})['content']
        if not soup.find('div', class_='project-info-price'):
            c_price = 0
        else:
            c_price = int(str(soup.find('div', class_='project-info-price').div.string).replace(',', '').replace('NT', '').replace('起', ''))
        if not soup.find('div', class_='project-info-meta-item'):
            c_buyers = 0
        else:
            c_buyers = int(str(soup.find('div', class_='project-info-meta-item').span.string).replace(',', ''))
        for link in soup.find_all('a'): # 課堂類別
            if not link.get('href').find('/project?type='):
                temp = link.string
                break 
        if temp == '語言學習':
            cg_id = '01'
        elif temp == '廣告行銷':
            cg_id = '06'
        elif temp == '投資理財':
            cg_id = '07'
        elif temp == '職場技能':
            cg_id = '08'
        else:
            cg_id = '09'
        c_url = "https://www.pressplay.cc/project/" + df_url_reset['c_url'][i] + "/about"
        c_img_url = soup.find(attrs={'property':'og:image'})['content']
        t_name = soup.find(attrs={'name':'author'})['content']

        if soup.find('div', class_='count-down-progress-text'):
            f_process = float(str(soup.find('div', class_='count-down-progress-text').span.string[5:-1])) / 100
        if soup.find('div', class_='count-down-text'):
            f_due_date = soup.find('div', class_='count-down-text').span.string[2:]
            df_fundings.loc[i] = {'f_due_date' : f_due_date, 'f_process' : f_process, 'c_id' : c_id}
        if soup.find('span', string=re.compile('^預計')):
            c_start_time = soup.find('span', string=re.compile('^預計')).string[3:-3]
            df_courses.loc[i] = {'c_id' : c_id, 'c_name' : c_name, 'c_description' : c_description, 'c_price' : c_price, 't_id' : int(i + 1), 'c_start_time' : c_start_time, 'c_buyers' : c_buyers, 'cg_id' : cg_id, 'c_url' : c_url, 'c_image_url' : c_img_url}
        else:
            df_courses.loc[i] = {'c_id' : c_id, 'c_name' : c_name, 'c_description' : c_description, 'c_price' : c_price, 't_id' : int(i + 1), 'c_buyers' : c_buyers, 'cg_id' : cg_id, 'c_url' : c_url, 'c_image_url' : c_img_url}
        df_teachers.loc[i] = {'t_id' : int(i + 1), 't_name' : t_name}
    chrome.close()

0 is a restricted course

In [45]:
df_courses

,c_id,c_name,w_id,c_description,c_price,c_total_time,t_id,c_start_time,c_buyers,cg_id,c_url,c_image_url,status_id
0,pressplay_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.pressplay.cc/project/51473D7D4F8CA...,NaN,NaN
1,pressplay_2,烘焙實驗室｜在家做 16 款職人級麵包,NaN,吐司Ｘ鹽可頌 X 貝果 Ｘ 佛卡夏， 搭配各式風味變化，一次學會 16 款職人麵包！「發酵」...,2580.0,NaN,2.0,2021/12/27,533.0,09,https://www.pressplay.cc/project/DE447F29E3CE5...,https://static.pressplay.cc/static/uploads/pro...,NaN
2,pressplay_3,【療癒相談室】12堂課解鎖生命地圖 開啟能量之旅,NaN,在變動的生活與狀態，\n讓ELLE療癒相談室帶著你，\n透過「西方占星術」與「東方紫微斗數」...,1980.0,NaN,3.0,2021/12/29,472.0,09,https://www.pressplay.cc/project/B470FFB794729...,https://static.pressplay.cc/static/uploads/pro...,NaN
3,pressplay_4,跟世界甜點冠軍學烘焙 - 在家做法式丹麥麵包！,NaN,跟著世界甜點冠軍Alexis老師做出招牌丹麥麵包！\n零烘焙基礎也可以做出好吃的法式丹麥麵包...,3600.0,NaN,4.0,2022/01/07,251.0,09,https://www.pressplay.cc/project/2EB38014AB607...,https://static.pressplay.cc/static/uploads/pro...,NaN
4,pressplay_5,主廚的 27 道私藏甜點秘笈 | 經典 x 台味一次上手,NaN,線上甜點教學課程，10 位甜點主廚，教導 27 道私藏甜點 + 3 種以上水果果醬，以台灣食...,6150.0,NaN,5.0,8/27-9/06 陸續抽出各獎項。抽獎後，將於此頁面中公布名單，並寄信給該中獎,4715.0,09,https://www.pressplay.cc/project/4F0C5A0FBABB4...,https://static.pressplay.cc/static/uploads/pro...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,pressplay_720,如何挖掘董事長概念股,NaN,一間公司的營運績效往往都是公司高層最清楚明瞭\n從產業趨勢、公司技術核心、財務狀況及未來的營...,13999.0,NaN,720.0,NaN,17.0,07,https://www.pressplay.cc/project/F387AC3D2166A...,https://static.pressplay.cc/static/uploads/pro...,NaN
720,pressplay_721,【脫單超簡單】認識到交往全方位教學,NaN,(一)\t為什麼會聊天這麼重要？\n(二)\t開始聊天前該知道的事\n(三)\t如何建立個人...,0.0,NaN,721.0,NaN,1.0,09,https://www.pressplay.cc/project/2A132C8C5B33C...,https://static.pressplay.cc/static/uploads/pro...,NaN
721,pressplay_722,記憶標本-昆蟲羊毛氈,NaN,羊毛氈怎麼做才不會失敗呢？四種羊毛氈教學，讓你快速掌握羊毛氈技巧。療癒的羊毛氈手工藝，在家也...,1800.0,NaN,722.0,NaN,141.0,09,https://www.pressplay.cc/project/35B81274FA6B4...,https://static.pressplay.cc/static/uploads/pro...,NaN
722,pressplay_723,技術分析補習班,NaN,技術分析大同小異，沒有時時刻刻複習觀察，如何找出差異性。在這裡直接給你差異性分析比較，讓你省...,1000.0,NaN,723.0,NaN,8.0,07,https://www.pressplay.cc/project/36E5E7753CB40...,https://static.pressplay.cc/static/uploads/pro...,NaN
723,pressplay_724,許總HSU｜投資策略大公開：大盤、股性、進出場型態,NaN,各位鐵粉你們好\n有沒有想過\n許總如果不在了?\n怎麼在股市生存?\n必須投資自己\n要上...,0.0,NaN,724.0,1月中，發放訂閱課的兌換券到您的註冊,0.0,07,https://www.pressplay.cc/project/5A633F666F13D...,https://static.pressplay.cc/static/uploads/pro...,NaN

In [46]:
df_teachers

      t_id           t_name  t_introduction
1      2.0        Aaron 張錫源             NaN
2      3.0      ELLE TAIWAN             NaN
3      4.0  Alexis Bouillet             NaN
4      5.0        河床法式甜點 黃偈             NaN
5      6.0             浦惠投顧             NaN
..     ...              ...             ...
719  720.0          Allan冷哥             NaN
720  721.0          Dr.Love             NaN
721  722.0        Tigermilk             NaN
722  723.0            十年磨一劍             NaN
723  724.0              許 總             NaN

[722 rows x 3 columns]

In [47]:
df_fundings

     f_id                f_due_date  f_process           c_id
1     NaN    倒數 2 天 18 小時 12 分 52 秒      17.76    pressplay_2
2     NaN   倒數 13 天 18 小時 13 分 46 秒       9.44    pressplay_3
3     NaN    倒數 2 天 18 小時 23 分 37 秒       8.36    pressplay_4
6     NaN    倒數 2 天 18 小時 12 分 19 秒      11.00    pressplay_7
8     NaN     倒數 2 天 18 小時 23 分 7 秒       5.56    pressplay_9
17    NaN    倒數 28 天 18 小時 12 分 5 秒       1.22   pressplay_18
50    NaN    倒數 22 天 18 小時 7 分 23 秒       1.22   pressplay_51
174   NaN    倒數 28 天 17 小時 53 分 0 秒       1.22  pressplay_175
195   NaN  倒數 298 天 16 小時 56 分 40 秒       1.22  pressplay_196
396   NaN   倒數 28 天 17 小時 29 分 11 秒       1.22  pressplay_397
492   NaN   倒數 59 天 17 小時 17 分 14 秒       1.22  pressplay_493
677   NaN   倒數 28 天 16 小時 55 分 27 秒       1.22  pressplay_678

# **PressPlay**
#### **11/05 update version according to new schema**

In [4]:
from bs4 import BeautifulSoup
import requests
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
import time
import pandas as pd
import re

In [5]:
options = Options()
options.add_argument("--disable-notifications")

df_url = pd.DataFrame({'c_url' : []})
count = 0

for i in range(70):
    chrome = webdriver.Chrome('./chromedriver')
    chrome.get("https://www.pressplay.cc/project?page=" + str(i + 1))
    soup = BeautifulSoup(chrome.page_source, 'html.parser')

    for link in soup.find_all('a'):
        if not link.get('href').find('/project/'):
            df_url.loc[count] = link.get('href')[9:-6]
            count += 1
    chrome.close()

df_url = df_url.drop_duplicates()
df_url

                                 c_url
0     2667A183130728C4AE30928EF3CFF4DD
1     ED4E52D5B7157BF2E7BE3267FCE16238
4     898B1221D16235C36E3DB44ECA2C2321
7     347C51645A9ACC61B0887301C9814177
10    9A2FFC0EF726C6E9B846F60DB09EFB1C
...                                ...
2445  7C45E6248368FF9B7C0DAEAD51C6C739
2448  1484A95536B72D83B1CB660551768468
2457  36E5E7753CB40D8E7A8B5792FCCB0480
2460  C302BA03AC302A239BB90C95C1F4C22B
2463  E118FA85CD2A82FCB83E648D4A513F4D

[733 rows x 1 columns]

In [6]:
df_url_reset = pd.DataFrame(df_url['c_url'])
df_url_reset = df_url_reset.reset_index(drop=True)
df_url_reset

                                c_url
0    2667A183130728C4AE30928EF3CFF4DD
1    ED4E52D5B7157BF2E7BE3267FCE16238
2    898B1221D16235C36E3DB44ECA2C2321
3    347C51645A9ACC61B0887301C9814177
4    9A2FFC0EF726C6E9B846F60DB09EFB1C
..                                ...
728  7C45E6248368FF9B7C0DAEAD51C6C739
729  1484A95536B72D83B1CB660551768468
730  36E5E7753CB40D8E7A8B5792FCCB0480
731  C302BA03AC302A239BB90C95C1F4C22B
732  E118FA85CD2A82FCB83E648D4A513F4D

[733 rows x 1 columns]

In [22]:
course = pd.DataFrame({'course_id' : [], 'course_name' : [], 'website_id' : [], 'course_intro' : [], 'course_price_min' : [],  'course_price_max' : [], \
                       'course_time' : [], 'teacher_id' : [], 'category_id' : [], 'course_url' : [], 'course_img_url' : [], 'status_id' : [], 'course_tag' : []})
teacher = pd.DataFrame({'teacher_id' : [], 'teacher_name' : [], 'teacher_intro' : [], 'teacher_img_url' : []})
buyer = pd.DataFrame({'buyer_id' : [], 'buyer_num' : [], 'course_id' : []})
fundraise = pd.DataFrame({'fundraise_id' : [], 'fundraise_due_date' : [], 'fundraise_percent' : [], 'course_id' : []})

In [23]:
chrome = webdriver.Chrome('./chromedriver')
for i in range(733):
    chrome.get("https://www.pressplay.cc/project/" + df_url_reset['c_url'][i] + "/about")
    soup = BeautifulSoup(chrome.page_source, 'html.parser')
    course_id = 'pressplay_' + str(i + 1)
    if not soup.find('h1'):
        course.loc[i] = {'course_id' : course_id, 'course_url' : "https://www.pressplay.cc/project/" + df_url_reset['c_url'][i] + "/about"}
        print(str(i) + ' is a restricted course')
    else:
        course_name = soup.find('h1').string
        if not soup.find(attrs={'name':'description'}):
            course_intro = ''
        else:
            course_intro = soup.find(attrs={'name':'description'})['content']
        if not soup.find('div', class_='project-info-price'):
            course_price = 0
        else:
            course_price = int(str(soup.find('div', class_='project-info-price').div.string).replace(',', '').replace('NT', '').replace('起', ''))
        if not soup.find('div', class_='project-info-meta-item'):
            buyer_num = 0
        else:
            buyer_num = int(str(soup.find('div', class_='project-info-meta-item').span.string).replace(',', ''))
        for link in soup.find_all('a'): # 課堂類別
            if not link.get('href').find('/project?type='):
                temp = link.string
                break 
        if temp == '語言學習':
            category_id = '01'
        elif temp == '廣告行銷':
            category_id = '06'
        elif temp == '投資理財':
            category_id = '07'
        elif temp == '職場技能':
            category_id = '08'
        else:
            category_id = '09'
        course_url = "https://www.pressplay.cc/project/" + df_url_reset['c_url'][i] + "/about"
        course_img_url = soup.find(attrs={'property':'og:image'})['content']
        teacher_name = soup.find(attrs={'name':'author'})['content']
        if soup.find('div', class_='project-info-creator-cover'):
            teacher_img_url = soup.find('div', class_='project-info-creator-cover')['data-src']
        if soup.find('div', class_='count-down-progress-text'):
            fundraise_percent = float(str(soup.find('div', class_='count-down-progress-text').span.string[5:-1])) / 100
        if soup.find('div', class_='count-down-text'):
            fundraise_due_date = soup.find('div', class_='count-down-text').span.string[2:]
            fundraise.loc[i] = {'fundraise_due_date' : fundraise_due_date, 'fundraise_percent' : fundraise_percent, 'course_id' : course_id}
        course.loc[i] = {'course_id' : course_id, 'course_name' : course_name, 'course_intro' : course_intro, 'course_price_min' : course_price, 'course_price_max' : course_price, \
                             'teacher_id' : int(i + 1), 'category_id' : category_id, 'course_url' : course_url, 'course_img_url' : course_img_url}
        teacher.loc[i] = {'teacher_id' : int(i + 1), 'teacher_name' : teacher_name, 'teacher_img_url' : teacher_img_url}
        buyer.loc[i] = {'buyer_num' : buyer_num, 'course_id' : course_id}
chrome.close()

122 is a restricted course
126 is a restricted course
262 is a restricted course
365 is a restricted course
438 is a restricted course

In [24]:
course

,course_id,course_name,website_id,course_intro,course_price_min,course_price_max,course_time,teacher_id,category_id,course_url,course_img_url,status_id,course_tag
0,pressplay_1,PressPlay Academy 官方頻道,NaN,每週掌握國內外，最新的知識付費產業知識，帶你深度解析內容產業的發展趨勢。並從創作者角度切入，...,0.0,0.0,NaN,1.0,09,https://www.pressplay.cc/project/2667A18313072...,https://static.pressplay.cc/static/uploads/pro...,NaN,NaN
1,pressplay_2,權證小哥的交易筆記本,NaN,幫您解讀籌碼，洞悉股海起伏！\n\n每週更新五篇籌碼研究心得，\n除了出國旅遊外，都會附上影...,999.0,999.0,NaN,2.0,07,https://www.pressplay.cc/project/ED4E52D5B7157...,https://static.pressplay.cc/static/uploads/pro...,NaN,NaN
2,pressplay_3,27外星人｜當沖/隔日沖/波段/價值投資,NaN,訂閱可以觀看什麼姿勢呢?\n操作的基本概念\n找到籌碼的變化來觀察個股走勢\nk棒型態及觀念紀律,999.0,999.0,NaN,3.0,07,https://www.pressplay.cc/project/898B1221D1623...,https://static.pressplay.cc/static/uploads/pro...,NaN,NaN
3,pressplay_4,給通勤族的飆股報告書 - 點石成金 飆股輕鬆入袋,NaN,是否覺得股票長期穩定獲利比登天還難？\n股市新聞滿天飛，照著新聞買股票\n一套成主顧讓你滿手...,399.0,399.0,NaN,4.0,07,https://www.pressplay.cc/project/347C51645A9AC...,https://static.pressplay.cc/static/uploads/pro...,NaN,NaN
4,pressplay_5,飛哥股市心得,NaN,短線獲利的奧秘 選股方法教學,0.0,0.0,NaN,5.0,07,https://www.pressplay.cc/project/9A2FFC0EF726C...,https://static.pressplay.cc/static/uploads/pro...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
728,pressplay_729,markhwang 教您 如何全面性提升自我交易績效,NaN,本人為台股 台指期 全職交易者 ptt id markhwang\n本專案主要是為了讓 1....,0.0,0.0,NaN,729.0,07,https://www.pressplay.cc/project/7C45E6248368F...,https://static.pressplay.cc/static/uploads/pro...,NaN,NaN
729,pressplay_730,低調富豪-股市急速獲利,NaN,終極目標：STB會員月賺20%\n\n☆☆☆1.增加獲利進而展開中長期的操作\n\n☆☆☆2...,0.0,0.0,NaN,730.0,07,https://www.pressplay.cc/project/1484A95536B72...,https://static.pressplay.cc/static/uploads/pro...,NaN,NaN
730,pressplay_731,技術分析補習班,NaN,技術分析大同小異，沒有時時刻刻複習觀察，如何找出差異性。在這裡直接給你差異性分析比較，讓你省...,1000.0,1000.0,NaN,731.0,07,https://www.pressplay.cc/project/36E5E7753CB40...,https://static.pressplay.cc/static/uploads/pro...,NaN,NaN
731,pressplay_732,《政式上課》睡前伸展課,NaN,如果你是:\n-長期久坐或久站的上班族\n-常用手機導致肩頸酸退\n-明明很累但卻失眠\n\...,2399.0,2399.0,NaN,732.0,09,https://www.pressplay.cc/project/C302BA03AC302...,https://static.pressplay.cc/static/uploads/pro...,NaN,NaN
732,pressplay_733,臺灣五十觀察紀錄,NaN,分享自己的投資日誌。,0.0,0.0,NaN,733.0,07,https://www.pressplay.cc/project/E118FA85CD2A8...,https://static.pressplay.cc/static/uploads/pro...,NaN,NaN

In [25]:
teacher

,teacher_id,teacher_name,teacher_intro,teacher_img_url
0,1.0,PressPlay 內容團隊,NaN,https://static.pressplay.cc/static/uploads/pro...
1,2.0,權證小哥,NaN,https://static.pressplay.cc/static/uploads/pro...
2,3.0,27號外星人,NaN,https://static.pressplay.cc/static/uploads/pro...
3,4.0,Ashin 信,NaN,https://static.pressplay.cc/static/uploads/pro...
4,5.0,PTT飛哥,NaN,https://static.pressplay.cc/static/uploads/mem...
...,...,...,...,...
728,729.0,markhwang,NaN,https://static.pressplay.cc/static/uploads/pro...
729,730.0,Kindom06,NaN,https://static.pressplay.cc/static/uploads/pro...
730,731.0,十年磨一劍,NaN,https://static.pressplay.cc/static/uploads/pro...
731,732.0,拾三,NaN,https://static.pressplay.cc/static/uploads/mem...
732,733.0,numlock789,NaN,https://static.pressplay.cc/static/uploads/mem...

In [26]:
buyer

     buyer_id  buyer_num      course_id
0         NaN     3504.0    pressplay_1
1         NaN     6994.0    pressplay_2
2         NaN      733.0    pressplay_3
3         NaN     2524.0    pressplay_4
4         NaN      135.0    pressplay_5
..        ...        ...            ...
728       NaN       65.0  pressplay_729
729       NaN       29.0  pressplay_730
730       NaN        8.0  pressplay_731
731       NaN        2.0  pressplay_732
732       NaN        0.0  pressplay_733

[728 rows x 3 columns]

In [27]:
fundraise

     fundraise_id        fundraise_due_date  fundraise_percent      course_id
5             NaN   倒數 25 天 19 小時 15 分 50 秒               1.84    pressplay_6
38            NaN    倒數 19 天 19 小時 14 分 3 秒               1.84   pressplay_39
163           NaN    倒數 9 天 19 小時 10 分 13 秒               1.84  pressplay_164
174           NaN    倒數 25 天 19 小時 9 分 53 秒               1.84  pressplay_175
207           NaN  倒數 295 天 18 小時 14 分 49 秒               1.84  pressplay_208
397           NaN    倒數 25 天 19 小時 4 分 21 秒               1.84  pressplay_398
489           NaN    倒數 56 天 19 小時 1 分 11 秒               1.84  pressplay_490
601           NaN   倒數 55 天 18 小時 57 分 39 秒               1.84  pressplay_602
654           NaN    倒數 25 天 18 小時 55 分 6 秒               1.84  pressplay_655